@import "../variables.scss";

.banner-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
  margin-top: 1%;
}

.banner-btn-container:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
  cursor: pointer;
}
