@import '../mixins.scss';
@import '../variables.scss';

.saved-park-img {
  width: 100%;
}

.saved-park-card {
  @include flex-column-center;
  width: 40%;
  margin: 3%;
  background-color: $gray;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.saved-park-card a {
  color: $dark-green;
}

.saved-park-card button {
  background-color: $brown;
  padding: 4%;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5%;
  width: 90%;
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
  }
}