@import '../variables.scss';
@import '../mixins.scss';

.loading-section {
  width: 70vw;
  margin-top: 15%;
  @include flex-column-center;
}

.loading {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  border-radius: 50%;
  border: 1.5rem solid rgba($olive-green, 0.3);
  border-top-color: $olive-green;
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}