@import '../mixins.scss';

.banner {
  width: 70vw;
}

.banner-img {
    height: 300px;
    width: 100%;
}

.banner-btn-container {
    @include row-wrap;
}

.saved-icon {
    height: 50px;
}

.banner-icons {
    @include row-wrap;
}