@import "../mixins.scss";
@import "../variables.scss";

.banner {
  width: 100%;
}

.header-container {
  text-align: center;
  padding: 2%;
  color: black;
  box-shadow: 0px 6px 11px black;
  background-color: $gray;
  z-index: -1;
}

.header {
  font-size: 36px;
  padding: 1%;
  margin: 0;
  font-family: $primaryFont;
}

.caption {
  font-family: $paragraphFont;
}

.image-container {
  background-color: $olive-green;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -9px 7px black;
}

.banner-img {
  height: 80%;
  max-width: 90%;
  margin: 3%;
  border: white 10px solid;
  box-shadow: 5px 5px 5px black;
}

.banner-btn-container {
  @include row-wrap;
  align-items: center;
}

.saved-icon {
  height: 50px;
}

.banner-icons {
  @include row-wrap;
}

.nav-img-btn {
  background-color: $gray;
  outline: none;
  border: none;
  font-size: 3em;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: $dark-green;
  }
}