@import '../variables.scss';

.nav-search {
  display: flex;
  justify-content: center;
  color: $dark-green;
}

.search-bar {
  height: 30px;
  padding: 2.5% 4%;
  width: 70%;
  margin: 5% 0 5% 4px;
  outline: none;
  box-shadow: inset 0px 0px 5px 0px black;
}