@import "../variables.scss";

.main-nav {
  background-color: $dark-green;
  color: $gray;
}

.site-header {
  text-align: center;
  color: white;
  padding: 0 2%;
}

.logo {
  width: 30vw;
  margin: 15px 15px -10px 15px;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
  }
}
