@import '../mixins.scss';
@import '../variables.scss';

.user-nav {
    @include row-wrap;
    justify-content: space-around;
    background-color: $brown;
    color: white;
    width: 100%;
    z-index: 1;
}