@import '../mixins.scss';
@import '../variables.scss';

.user-nav {
    @include row-wrap;
    justify-content: space-around;
    background-color: $brown;
    color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 11px black;
}

.user-nav h2 {
  color: white;
  text-decoration: white underline solid;
  &:hover {
    color: $light-green;
    text-decoration: $light-green underline solid;
  }
}