@import '../mixins.scss';
@import '../variables.scss';

.park-button {
  padding: 5% 0;
  width: 100%;
  cursor: pointer;
  background-color: $gray;
  box-shadow: 5px 5px 5px black;
  &:hover {
    transform: scale(1.05);
    transition-duration: .4s;
  }
}

.main-nav-link {
  width: 80%;
  margin: 4%;
}
