@import '../mixins.scss';
@import '../variables.scss';

.park-list {
  @include flex-column-center;
  @include content-scroll;
  margin-top: 20px;
  height: 100vh;
  position: relative;
}

.randomize-button {
  cursor: pointer;
}

.randomize-icon {
  width: 5vw;
}
