@import '../mixins.scss';
@import '../variables.scss';

.park-list {
  @include flex-column-center;
  @include content-scroll;
  margin-top: 20px;
  height: 100vh;
  position: relative;
}

.randomize-button {
  cursor: pointer;
  width: 80%;
  margin-bottom: 4%;
  background-color: $gray;
  box-shadow: 5px 5px 5px black;
  &:hover {
    transform: scale(1.05);
    transition-duration: .4s;
  }
}

.randomize-icon {
  width: 20%;
}
