$dark-green: #1D4938;
$light-green: #70977E;
$olive-green:  hsla(164, 39%, 21%, 0.45);
$brown: #514742;
$gray: #B3B3B3;
$navy: #002f5b;
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Puritan', sans-serif;
$paragraphFont: 'PT Sans Caption', sans-serif;