@import '../variables.scss';
@import '../mixins.scss';

.footer-btn-container {
  width: 100vw;
  height: 15vh;
  background-color: $light-green;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btn {
  cursor: pointer;
  font-size: 18px;
  width: 20vw;
  border: none;
  padding: 10px;
  margin: 0px 60px;
  text-align: center;
  background-color: $gray;
  box-shadow: 5px 5px 5px $dark-green;
}