@import '../variables.scss';
@import '../mixins.scss';

.footer-btn-container {
  @include row-wrap;
  height: 15vh;
  background-color: $brown;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.footer-btn {
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  border: none;
  padding: 5%;
  margin: 0 5%;
  text-align: center;
  background-color: $gray;
  box-shadow: 5px 5px 5px black;
  &:hover {
    transform: scale(1.1);
    transition-duration: .4s;
  }
}